# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code / IDEs
.vscode/
.idea/

# Data files (optional: if large, keep locally, not in repo)
data_raw/
data_processed/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Temporary files
*.tmp
